.body-background {
    background: url(images/pink-plant.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: repeat-x;
    padding: 200px 10px;
    background-color: #e2cada; 
}

h1 {
    font-family: "Great Vibes", cursive;
    font-size: 130px;
    color: white;
}

.title {
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    color: white;
}
#about {
    font-family: "Monsterrat",sans-serif;
    font-size: 40px;
}
.description {
    color: white;
    font-family: "Monsterrat", sans-serif;
    font-size: 20px;
}
.navbar-fixed-top {
    padding: 40px;
    
}